<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enerbos.cloud.eam.microservice.repository.mybatis.QRCodeApplicationAllPropertyDao">

	<!-- 查询字段公共sql -->
	<sql id="selectAllColumns">
		<![CDATA[
		SELECT
			 id as id,
			 property as property,
			 description as description,
			 application_id as applicationId
			FROM eam_qr_code_application_all_property qrCodeApplicationAllProperty
		]]>
	</sql>

	<select id="findAllApplicationAllPropertyNotIn" resultType="com.enerbos.cloud.eam.vo.QRCodeApplicationAllPropertyVo" parameterType="java.lang.String">
		<include refid="selectAllColumns" />
		where qrCodeApplicationAllProperty.application_id = #{applicationId}
		<if test = "ids != null and ids.size()>0">
			and qrCodeApplicationAllProperty.id not in
			<foreach collection="ids" item="id" index="index"  open="(" separator=" , " close=")">
				#{id}
			</foreach>
		</if>
	</select>
</mapper>